<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:title_tab) ? yield(:title_tab) : "LittleBird" %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='container-fluid'>
    <%= render partial: "shared/navbar" %>
    <div class='row layout-row' id='layout-row'>

      <div class='col-xs-3 left-gutter' id='layout-left-gutter'>
        <%= yield(:left_gutter) %>
      </div>

      <div class='col-xs-6 center-gutter' id='layout-center-gutter'>
        <%= yield %>
      </div>

      <div class='col-xs-3 right-gutter' id='layout-right-gutter'>
        <%= yield(:right_gutter) %>
      </div>
      
    </div>
  </div>

</body>
</html>
